@{
    ViewBag.Title = "SRChat";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}

<h2>SRChat</h2>


@section scripts{
    @*@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.0.min.js")
    @Scripts.Render("/signalr/hubs")*@


    <script type="text/javascript">
        $(function () {
            startChatHub();
        });
        function startChatHub()
        {
            var chat = $.connection.chatHub;
            var name = '@Session["SessionUser"]';
            var role = '@Session["Role"]';
            $('#uName').val(name);
            $('#pName').text(name);
            chat.client.online = function (name) {
                if (name == $('#uName').val())
                    $('#onUsers').append('<div class="border" style="color:green">You: ' + name + '</div>');
                else {
                    $('#onUsers').append('<div class="border">' + name + '</div>');
                    $('#users').append('<option value="' + name + '">' + name + '</option>');
                }
            };

            chat.client.enters = function (name) {
                $('#chLog').append('<div style="font-style:italic;"><i>' + name + ' joins the conversation</i></div>');
                $('#users').append('<option value="' + name + '">' + name + '</option>');
                $('#onUsers').append('<div class="border">' + name + '</div>');
            };

            chat.client.broadcastMessage = function (name, message) {
                if(name==$('#uName').val())
                    $('#chLog').append('<div class="border"><span style="color:green">' + 'You' + '</span>: ' + message + '</div>');
                else
                    $('#chLog').append('<div class="border"><span style="color:orange">' + name + '</span>: ' + message + '</div>');
            };
            chat.client.broadcastPrivateMessage = function (name, message, to) {
                if (name == $('#uName').val())
                    $('#chLog').append('<div class="border"><span style="color:green">' + 'You </span>' + '-> <span style="color:red">' + to + '</span>: ' + message + '</div>');
                else if(to==$('#uName').val())
                    $('#chLog').append('<div class="border"><span style="color:red">' + name + '</span>-><span style="color:green">' + 'You' + '</span>: ' + message + '</div>');
            };
            chat.client.disconnected = function (name) {
                $('#chLog').append('<div style="font-style:italic;"><i>' + name + ' leaves the conversation</i></div>');
                $('#onUsers div').remove(":contains('" + name + "')");
                $('#users option').remove(":contains('" + name + "')");
            }

            $.connection.hub.start().done(function () {
                chat.server.notify($('#uName').val(), $.connection.hub.id);

                $('#btnSend').click(function () {
                    if ($("#users").val() == "All") {
                        chat.server.send($('#uName').val(), $('#msg').val());
                    }
                    else {
                        chat.server.sendToUser($('#uName').val(), $('#msg').val(), $("#users").val());
                    }
                    $('#msg').val('').focus();
                });
            });
        }
        
    </script>
}






@*<div id="container">
    <input type="hidden" id="uName" />
    <div id="chLog"></div>
    <div id="onUsers">
        <b>Online users</b>
    </div>
    
    <div id="chArea">
        <div class="msgLog">
            <textarea id="msg" class="messagebox"></textarea>
        </div>
        <div class="actionpane">
            <input type="button" id="btnSend" value="Send"/>
        </div>
        <div class="actionpane">
            <select id="users">
                <option value="All">All</option>
            </select>
        </div>
    </div>
</div>*@

<div class="container col-md-5" id="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <input type="hidden" id="uName" />
            <p id="pName"></p>
        </div>
        <div class="panel-body" id="chLog" style="height:300px;overflow-y:scroll">
            <div id="onUsers" style="float:right;width:80px">
                <b>Online users</b>
            </div>
        </div>
        <div class="panel-footer">
            <input type="text" id="msg" />
            <button id="btnSend" value="Send">Send</button>
            <select id="users">
                <option value="All">All</option>
            </select>
        </div>
    </div>

</div>
